<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="brand-logo center hide-on-med-and-down">
                Mongo Scraper
            </a>
            <a href="/" class="brand-logo center hide-on-large-only">
                Scraper
            </a>

        </div>
        <a href="#" data-target="sideNav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-red btn scraped">Scrape Again</a></li>
        </ul>
        <ul class="right ">
            <li><a class="waves-effect waves-red btn scraped hide-on-large-only">Scrape</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="sideNav">
    <li>
        <a href="/">
            <div class="background">
                <img class="responsive-img" src="/assets/img/pcGamer.png" alt="pcGamer">
            </div>
        </a>
    </li>
    <div class="divider"></div>
    <li><a href="/saved">Saved Articles</a></li>
    <div class="divider"></div>
    <li><a href="#!" class="scraped">Scrape Again</a> </li>
</ul>