<div id="modal1" class="modal">
    <div class="row">
        <div class="modal-content">
            <form class="col s12" id="form">
                <div class="row">
                    <h2 class="center modalTitle">Add a Note</h2>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <input placeholder="title" id="title" class="validate" type="text">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="noteBody" class="noteBody"></textarea>
                        <label for="noteBody">Leave a comment!</label>

                    </div>
                </div>
                <div class="row">
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn noteSave">Save</a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row noteSection">

                </div>
            </form>
        </div>
    </div>
</div>