<div id="modal1" class="modal">
    <div class="row">
        <div class="modal-content">
            <div class="row noteSection">

            </div>
            <div class="divider"></div>
            <form class="col s12">
                <div class="row">
                    <h2>Add a Note</h2>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="title" id="title" class="validate" type="text">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="noteBody" class="noteBody"></textarea>
                        <label for="noteBody">Leave a comment!</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn noteSave">Save</a>
    </div>
</div>