body {
    background: #cccccc !important;
}

.pcGamer {
    width: 100% !important;
}

.links {
    text-decoration: none !important;
}

.title, .body {
    color: black !important;
}

.card.large {
    border: 1pt solid !important;
}

.parallax-container {
    height: 300px !important;
}