body {
    background: rgb(223, 223, 223) !important;
}

nav {
    background: #1A081F !important;
}

.btn {
    border: 1pt solid black !important;
}

.pcGamer {
    width: 100% !important;
}

.links {
    text-decoration: none !important;
}

.title, .body {
    color: black !important;
}

.card.large, .card.small {
    border: 1pt solid !important;
}

.parallax-container {
    height: 300px !important;
    border-bottom: 2pt inset;
}

.bottomFront {
    height: 100% !important;
}